each i in messages
  .message(id=i.id data-pseudo=i.pseudo)
    .message__actions.message__actions--nb-1
      span.js-quote.message__actions-action.message__actions-action--quote Citer
    .message__visible
      .message__byline
        .message__byline-author
          unless i.isNicknameDeleted
            a.message__byline-author-link(href="http://www.jeuxvideo.com/profil/#{i.nickname.toLowerCase()}?mode=infos" target="_blank")
              span.message__byline-author-avatar
                if i.avatar
                  img.message__byline-author-avatar-image(src=i.avatar)
                else
                  img.message__byline-author-avatar-image.message__byline-author-avatar-image--default(src="http://image.jeuxvideo.com/avatar-md/default.jpg")
              | 
              span(class="message__byline-author-pseudo message__byline-author-pseudo--#{i.status}" title=i.nickname)= i.nickname
          else
            span.message__byline-author-link.message__byline-author-link--no-link
              span.message__byline-author-avatar
                img.message__byline-author-avatar-image.message__byline-author-avatar-image--default(src="http://image.jeuxvideo.com/avatar-md/default.jpg")
              span.message__byline-author-pseudo Pseudo supprimé
        .message__byline-date
          span.js-menu.js-date.message__byline-date-inline(title=i.date)= i.date
      .js-content.message__content!= i.content
      .message__quick-actions
        .js-quote.message__quick-action.message__quick-action--quote(title="Citer")
    .message__end-anchor(id="after#{i.id}")
