- var isIOS = /\((iPhone|iPod|iPad)/.test(userAgent)
//    github.com/dieulot/jvforum    
doctype html
html(lang="fr" class=isIOS ? "is-ios" : "")
  meta(charset="utf-8")
  title!= title
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="/assets/stylesheet--#{cssChecksum}.css")
  meta(name="google-analytics-id" content=googleAnalyticsId)
  link.js-favicon(rel="icon" href="/images/favicon.png")
  meta(name="format-detection" content="telephone=no")
  meta(name="theme-color" content="hsl(240, 8%, 13%)")

  block body

  .toast
    .toast__label
  script.
    var googleAnalyticsId = "#{googleAnalyticsId}"
