doctype html
meta(charset="utf-8")
title!= data.title
link(rel='stylesheet', href='/stylesheets/style.css')
h1!= data.title
h2= data.forumSlug
h2!= data.forumName
h3 #{data.messages.length} messages
each val in data.messages
  ul
    li= val.html
    li= val.id
    li= val.avatar
    li= val.status
    li= val.pseudo
    li= val.date
    li= val.message
